<div class="container">
      <!-- Main component for a primary marketing message or call to action -->


          <div class="table-responsive">
            <table ng-controller="orderCtrl" class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>reference</th>
                  <th>product_name</th>
                  <th>product_quantity</th>
                  <th>product_price</th>
                </tr>
              </thead>
              <tbody>
           		<tr ng-repeat="order in orders" >
           		<td></td>
           	
        			<td><a ng-href="#/detail-order/{{ order.id_order }}">{{ order.reference }}</a></td>
        			<td>{{ order.product }}</td>
        			<td>{{ order.quantity }}</td>
        			<td>{{ order.price }}</td>
    			</tr>
 
              </tbody>
            </table>
          </div>


</div> <!-- /container -->

<!-- Columns are always 50% wide, on mobile and desktop -->


</div>